.navigation__ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.navigation__line {
  display: flex;
  margin-right: 20px;
}

.navigation__line:last-child {
  margin-right: 0;
  margin-left: 30px;
  line-height: 16px;
}

.navigation__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  transition: opacity .4s linear;
}

.navigation__link:hover {
  opacity: .4;
}

.navigation__link_active {
  border-bottom: 2px solid #000000;
}

.navigation__icon {
  width: 26px;
  height: 30px;
  margin-left: 17px;
  border-radius: 4px;
  background: #F9F9F9 url('../../images/profile.min.svg') no-repeat center;
}

@media screen and (max-width: 800px) {
  .navigation {
    display: none;
  }
}
