.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 70px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.header__ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__line-logout {
  display: flex;
}

.header__register-link {
  display: flex;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: opacity .4s linear;
  margin-right: 30px;
  align-self: center;
}

.header__register-link:hover {
  opacity: .4;
}

.header__login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: opacity .4s linear;
  background-color: #2BE080;
  border-radius: 3px;
}

.header__login-link:hover {
  opacity: .4;
}

.header__menu-button {
  display: none;
  background-image: url('../../images/menu.min.svg');
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  background-color: rgba(1, 1, 1, 0);
  transition: opacity .4s linear;
}

.header__menu-button:hover {
  opacity: .4;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .header__menu-button {
    display: flex;
  }
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 399px) {
  .header__menu-button {
    display: flex;
    background-image: url('../../images/menuMobile.min.svg');
    width: 40px;
    height: 43px;
  }
  .header {
    padding: 0 14px;
  }
}
